npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
_templates
.nyc_output
coverage
devops
resources
.env

**/node_modules/**
**/build/
gsi.json

**/bower_components/**
**/dist/**
**/build/**
**/.vscode/**
**/.github/**
**/_output/**
**/*.min.*
**/*.map
**/.next/**
**/.env

!services/frontend/.env
