@charset "utf-8";

$navbar-item-img-max-height: 3rem;
$footer-padding: 2rem 1.5rem 1.5rem;

@import "darkly/variables";
@import "../node_modules/bulma/bulma.sass";
@import "darkly/overrides";

// --- Gauge styles ---

.gauge-container {
	width: 100px;
	height: 100px;
	margin: auto;
	// padding: 10px;
}

.gauge-container > .label {
	position: absolute;
	right: 0;
	top: 0;
	display: inline-block;
	background: rgba(0, 0, 0, 0.5);
	font-family: monospace;
	font-size: 0.8em;
	padding: 5px 10px;
}
.gauge-container > .gauge .dial {
	stroke: #334455;
	stroke-width: 2;
	fill: rgba(0, 0, 0, 0);
}
.gauge-container > .gauge .value {
	// stroke: rgb(47, 227, 255);
	stroke: #1abc9c;
	stroke-width: 2;
	fill: rgba(0, 0, 0, 0);
}
.gauge-container > .gauge .value-text {
	// fill: rgb(47, 227, 255);
	fill: #1abc9c;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 1.2em;
}

// --- Date range selector styles ---
.rdrDateDisplayWrapper {
	background-color: #232527 !important;
}

.rdrDateDisplayItem {
	background-color: #000000 !important;
}

.rdrMonthAndYearPickers select {
	color: #436e9c !important;
}

.rdrNextPrevButton {
	background: #333435 !important;
}

.rdrNextPrevButton:hover {
	background: #e1e7f0;
}

.rdrPprevButton i {
	border-color: transparent #375a7f transparent transparent !important;
}

.rdrNextButton i {
	border-color: transparent transparent transparent #375a7f !important;
}

.rdrDayToday .rdrDayNumber span:after {
	background: #375a7f !important;
}

.rdrDefinedRangesWrapper {
	border-right: solid 1px #232527 !important;
	background: #232527 !important;
}

.rdrStaticRange {
	border-bottom: 1px solid #232527 !important;
	background: #232527 !important;
}

.rdrStaticRange:hover .rdrStaticRangeLabel,
.rdrStaticRange:focus .rdrStaticRangeLabel {
	background: #232527 !important;
}

.rdrStaticRangeLabel {
	color: white;
}

.rdrInputRangeInput {
	border: solid 1px #232527 !important;
	color: #232527 !important;
}

.rdrInputRangeInput:focus,
.rdrInputRangeInput:hover {
	border-color: #232527 !important;
	color: #232527 !important;
}
.rdrDayPassive .rdrDayNumber span {
	color: #979696 !important;
}
.rdrDayNumber span {
	color: white !important;
}
.rdrDayDisabled {
	background-color: white !important;
}
.rdrDayDisabled .rdrDayNumber span {
	color: white !important;
}
.rdrMonthName {
	color: white !important;
}

.rdrMonthAndYearWrapper {
	background: #232527;
}

.rdrMonths {
	background: #232527;
}
