NODE_ENV=

REDIS_URL=

# LEADERBOARD_TYPE=standard | turbo | duos
LEADERBOARD_TYPE=

KAFKA_CLIENT_ID=
KAFKA_BROKERS=
KAFKA_GROUP_ID=

# KAFKA_FROM_START=false
# KAFKA_AUTO_COMMIT=true

# POSTGRES_USER=
# POSTGRES_PASSWORD=
# POSTGRES_HOST=
# POSTGRES_PORT=
# POSTGRES_DATABASE=
# DB_LOG=

SENTRY_DSN=
